@font-face {
  font-family: SFPro;
  src: url("../../assets/fonts/SFPro/SFPRODISPLAYBOLD.OTF");
}

.fitImageNavbar {
  width: 173px;
  height: 70px;
}

.fitImageNavbar > img {
  height: 100%;
  width: 100%;
}
